*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
trixibackend/.idea/
trixibackend/target/
.RetrofitClient.kt
app/src/main/java/com/example/trixi/apiService/RetrofitClient.kt
